.main-header {
  width: 200px;
  height: 100%;
  background: #2a2b30;
  text-align: center;
  border-right: 1px solid #202125;
  position: fixed;
  z-index: 99;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .main-header a {
    color: #999;
    text-decoration: none; }
  .main-header .menu-item {
    text-transform: uppercase;
    font-family: 'Roboto';
    border-bottom: 1px solid #202125;
    padding: 15px 0; }
    .main-header .menu-item a.active {
      color: #f8f9fa; }
  .main-header .nav-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    text-align: center; }
    .main-header .nav-footer .social li {
      display: inline-block;
      font-size: 18px;
      margin-right: 10px; }
      .main-header .nav-footer .social li a {
        padding: 0.4rem; }
        .main-header .nav-footer .social li a:hover {
          color: #f8f9fa;
          -webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
  .main-header.show {
    left: 0; }

.mobile-navbar {
  background: #2a2b30;
  position: fixed;
  display: none;
  width: 100%;
  z-index: 2;
  height: 50px;
  color: #fff; }
  .mobile-navbar i {
    font-size: 20px;
    padding: 0;
    padding: 15px 20px;
    float: right;
    cursor: pointer; }

.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both; }

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both; }

.pt-page-scaleUp {
  -webkit-animation: scaleUp .7s ease both;
  animation: scaleUp .7s ease both; }

.pt-page-moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both; }

.fadeOut {
  -webkit-animation: fadeOut .4s ease both;
          animation: fadeOut .4s ease both; }

@-webkit-keyframes moveToBottom {
  from { }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes moveToBottom {
  from { }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes moveToLeft {
  from { }
  to {
    -webkit-transform: translateX(-100%); } }

@keyframes moveToLeft {
  from { }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }

@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

.btn {
  color: #00A3E1;
  border: 2px solid #00A3E1;
  background: transparent;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  line-height: 100%;
  letter-spacing: 1px;
  z-index: 1000; }
  .btn:after {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    top: 0;
    left: 35%;
    background: #222;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: -1; }
  .btn:hover {
    color: #fff; }
  .btn:hover:after {
    background: #00a3e1;
    opacity: 1;
    left: 0;
    width: 100%; }

#map {
  margin-top: 30px;
  width: auto;
  height: 200px;
  background-color: #fff; }

.skills-bar__wrapper {
  width: 100%;
  margin-bottom: 50px; }

.skills-bar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.skills-bar__item {
  width: 200px;
  margin: 20px; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  background: #fff;
  height: 100%;
  width: 100%;
  min-height: 100%; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  outline: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif; }

p {
  font-family: roboto; }

#bar {
  width: 300px; }

.pages {
  background: #2a2b30;
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 1; }
  .pages .page {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
  .pages .page_active {
    display: block; }
  .pages .heading {
    color: #00a3e1;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: capitalize; }
  .pages .text-secondary {
    color: #00a3e1; }
  .pages .page-container {
    width: 90%;
    margin: 0 auto;
    background: #fff; }
    .pages .page-container .page-heading {
      margin-bottom: 50px;
      margin-top: 50px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
      padding-bottom: 10px; }

.sub-heading {
  margin-bottom: 50px;
  text-align: center; }
  .sub-heading h3 {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.5px;
    position: relative;
    text-transform: uppercase;
    padding: 5px 10px;
    border-bottom: 2px solid #00a3e1; }
    .sub-heading h3::before {
      left: 0;
      position: absolute;
      content: "";
      width: 2px;
      height: 5px;
      background-color: #00a3e1;
      bottom: 0; }
    .sub-heading h3::after {
      right: 0;
      position: absolute;
      content: "";
      width: 2px;
      height: 5px;
      background-color: #00a3e1;
      bottom: 0; }

.sm-heading {
  font-family: "Playfair Display";
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center; }

#home {
  position: relative;
  overflow: hidden;
  max-height: 100%; }
  #home .page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 200;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    height: 100%; }
    #home .page-container h1 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 900;
      font-size: 3em; }
    #home .page-container .typed-text {
      top: 60%;
      font-size: 2em;
      color: #fff;
      font-family: "Playfair Display";
      font-weight: 900;
      padding: 5px;
      position: absolute; }
  #home::before {
    background: url(./img/casey-horner-1135896-unsplash.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }

.about .about-info {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .about .about-info__intro {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 0 15px; }
  .about .about-info__personal {
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .about .about-info__personal li {
      font-family: roboto;
      line-height: 1.5em;
      margin-bottom: 13px; }
      .about .about-info__personal li .text-title {
        font-family: "Playfair Display";
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-right: 15px;
        border-bottom: 2px solid #00a3e1;
        position: relative; }
        .about .about-info__personal li .text-title::after {
          content: ":";
          position: absolute;
          right: -10px; }
      .about .about-info__personal li .value {
        display: inline-block; }
      .about .about-info__personal li .number {
        color: #000;
        text-decoration: none; }

.about .skills-icons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .about .skills-icons__wrapper .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    .about .skills-icons__wrapper .icons h3 {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%;
      padding: 10px 0; }
    .about .skills-icons__wrapper .icons i {
      font-size: 6em;
      padding: 10px; }

.works .menu {
  text-align: center;
  margin-bottom: 30px; }
  .works .menu ul {
    display: inline-block;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 27px; }
    .works .menu ul li {
      display: inline-block;
      font-family: roboto;
      padding: 14px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-radius: 27px;
      cursor: pointer; }
    .works .menu ul .active {
      background: #00a3e1; }

.works .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .works .projects .item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 33.33%;
            flex: 0 33.33%;
    margin-bottom: 20px;
    display: none;
    font-family: roboto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 10px; }
    .works .projects .item-wrapper a {
      text-decoration: none;
      color: #222;
      position: relative; }
      .works .projects .item-wrapper a img {
        width: 100%;
        height: 100%; }
      .works .projects .item-wrapper a .item-desc {
        color: #fff;
        position: absolute;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        background: rgba(29, 106, 154, 0.72);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        padding: 0;
        margin: 0; }
      .works .projects .item-wrapper a:hover .item-desc {
        visibility: visible;
        opacity: 1; }
    .works .projects .item-wrapper .github_link {
      padding: 0.4rem; }
      .works .projects .item-wrapper .github_link:hover {
        color: rgba(29, 106, 154, 0.72);
        -webkit-transition: color 0.4s ease;
        transition: color 0.4s ease; }
  .works .projects .visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 450px;
  max-width: 680px; }
  .contact-form .alert {
    padding: 10px;
    color: white; }
    .contact-form .alert.error {
      background-color: #f44336;
      /* Red */ }
    .contact-form .alert.success {
      background-color: #4caf50; }
  .contact-form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .contact-form .row > div {
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%; }
  .contact-form__input {
    position: relative; }
    .contact-form__input input,
    .contact-form__input textarea {
      border: 2px solid #999;
      position: relative;
      width: 100%;
      padding: 10px;
      background: transparent;
      z-index: 1; }
      .contact-form__input input:focus ~ label,
      .contact-form__input input:not(:focus):valid ~ label,
      .contact-form__input textarea:focus ~ label,
      .contact-form__input textarea:not(:focus):valid ~ label {
        left: 0;
        top: -20px; }
  .contact-form textarea {
    resize: none;
    width: 100%;
    margin: 0 auto; }
  .contact-form__input label {
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #555;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0; }
  .contact-form__submit {
    text-align: center; }

.contact-info {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .contact-info__element {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    font-family: "Playfair Display", serif; }
    .contact-info__element i {
      font-size: 1.5em;
      color: #00a3e1; }

@media screen and (max-width: 768px) {
  .main-header {
    left: -200px; }
    .main-header.show {
      left: 0; }
  .page-container .page-heading {
    margin-top: 100px; }
  .pages {
    left: 0; }
    .pages .page-container .page-heading {
      margin-top: 100px; }
  .mobile-navbar {
    display: block; }
  .about-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .skills-icons__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .works .projects .item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 50%;
            flex: 0 50%; } }

@media screen and (max-width: 500px) {
  #home::before {
    background-size: auto; }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .row > div {
      margin: 10px 0; }
  .works .projects .item-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%; } }

