.main-header{
    width: 200px;
    height: 100%;
    background: $primary-color;
    text-align: center;
    border-right: 1px solid $menu-border;
    position: fixed;
    z-index: 99;
    
    @include easeOut();
    a{
        color: #999;
        text-decoration: none;
       
    }
    .menu-item{
        text-transform: uppercase;
        font-family: 'Roboto';
        border-bottom:1px solid $menu-border;
        padding: 15px 0;
       a{
        &.active{
            color:$secondary-color;
        }
       }
    }

    .nav-footer{
        width: 100%;
        position:absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 10px;
        text-align: center;
        .social{
            li{
            display: inline-block;
            font-size: 18px;
            margin-right: 10px;
                a{
                    padding: 0.4rem;
                
                    &:hover{
                    color: $secondary-color;
                    @include easeOut();
                    }
                }
            }
        
        }
    }
    &.show{
        left:0;
    }
}

.mobile-navbar{
    background:$primary-color;
    position: fixed;
    display: none;
    width: 100%;
    z-index: 2;
    height: 50px;
    color: #fff;
    i{
      font-size: 20px;
      padding: 0;
      padding: 15px 20px;
      float: right;
      cursor: pointer;
    }
  }